body {
    font-family: 'Fira Sans', sans-serif;
    background-color: #F2F2F2;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-style: Bold;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    color: #495464;
    margin-bottom: 15px;
    padding-bottom: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: 20% 70%; /* button container is 20%, input container is 70% */
    grid-gap: 20px; /* add some space between the columns */
}
  
.button-container {
    display: flex;
    flex-direction: column;
}

  
.button-container button {
    margin-bottom: 10px;
}

#btn1, #btn2, #btn3, #btn4, #btn5, #btn6, #btn7, #btn8{
    font-family: 'Fira Sans', sans-serif;
    /* text-transform: uppercase; */
    background-color: #6C7A89;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    /* width: 15%;
    margin: 15px 5px 30px; Top, Right & Left, Bottom */
    padding: 5px 5px; /* Top & Bottom, Right & Left  */
}
  
.input-container {
    display: flex;
    position: relative; /* add this line to make the position of nav-container relative to input-container */
    justify-content: space-between;
    border: 1px solid black;
    width: 100%;
    align-items: center;
    margin-top: 20px;
}

.input-container > .nav-container {
    position: absolute; /* add this line to make the position of nav-container absolute to input-container */
    bottom: 0; /* add this line to position the nav-container at the bottom of input-container */
    right: 0; /* add this line to position the nav-container at the right of input-container */
    margin-bottom: 10px;
    margin-right: 45%;
    align-items: center;
    justify-content: center;
}

.colour-box {
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 60%;
}
  
.colour-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
  
.colour-row label {
    margin-right: 10px;
    flex-basis: 30%; /* set the label's width to 30% */
}
  
.colour-row input {
    flex-grow: 1; /* allow the input to grow to fill remaining space */
}

.display-colour-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    margin-left: 20px;
    margin-right: 20px;
}

.colour-sample {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    margin-bottom: 10px;
}

.nav-container {
    display: flex;
    position: absolute; /* add this line to make the nav-container's position absolute */
    bottom: 0; /* add this line to position the nav-container at the bottom of input-container */
    right: 0; /* add this line to position the nav-container at the right of input-container */
    margin-bottom: 10px;
    margin-right: 10px;
    align-items: center;
    justify-content: center;
}
  
.nav-btn {
    margin: 0 5px;
}
  
#ColourIdNav {
    width: 50px;
    margin: 0 5px;
    text-align: center;
}
  
  